/.git
/.github
/.husky
/.vscode
/dist/temp
/node_modules
/scripts
/src
/tests
.gitattributes
.gitignore
.editorconfig
.eslintrc.js
.eslintrc.test.js
.prettierignore
.prettierrc
jest.config.js
package-lock.json
tsconfig.json
*.sh
*.txt
*.ignore

